body {
    touch-action: none;
    font-family: 'Archivo Black', sans-serif;
    background: linear-gradient(135deg, #1d4270 0%, #000000 100%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    <meta name="viewport" content="width=device-width, initial-scale=1"
    maximum-scale="1"
    user-scalable="no" />

}

.container {
    margin-top: 40px;
    position: relative;
}

#currency {
    font-size: 50px;
    margin-bottom: 75px;
}

#ratingButton {
    position: absolute;
    top: 90px;
    left: 38px;
    padding: 1px 60px;
    background-color: #4b4b4b00;
    font-size: 25px;
    font-weiht: bold;
    color: #ffcf00
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4b4b4b;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, transform 0.1s ease-in-out;
}

.button:hover {
    background-color: #5F6571;
}

.button:active {
    transform: scale(0.95);
}

.coin-button {
    width: 350px;
    height: 350px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 30px;
    transition: transform 0.1s ease-in-out;
    position: relative;
}

.coin-button:active {
    transform: scale(0.9);
}

.button-group-left, .button-group-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button-group-left {
    left: calc(46% - 200px);
}

.button-group-right {
    right: calc(46% - 191px);
}

.energy-bar {
    width: 87%;
    height: 14px;
    background-color: #4E545C;
    border-radius: 10px;
    margin-bottom: 100px;
    position: relative;
    margin-left: 5%;
}

.energy {
    height: 100%;
    width: 100%;
    background-color: #f8ed00;
    border-radius: 10px;
    transition: width 0.3s;
}

#notification {
    position: fixed;
    bottom: 780px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
}

#notification.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.overlay, .settings-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 48px;
    z-index: 1000;
}

.overlay .close-button, .settings-overlay .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

@keyframes float {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.float-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 29px;
    color: #ffffff;
    animation: float 1s ease-in-out;
    pointer-events: none;
}

.shop {
    display: none;
    position: fixed;
    bottom: 20px;
    width: 50%;
    padding: 20px;
    background-color: #2C2F33;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rating-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    z-index: 1000;
    padding: 20px;
}

.rating-overlay .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.rating-overlay ul {
    list-style: none;
    padding: 0;
}

.rating-overlay li {
    margin: 10px 0;
}

.settings-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    z-index: 1000;
    padding: 20px;
}

.settings-overlay .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.settings-overlay input {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

@media only screen and (max-width: 600px) {
    #currency {
        font-size: 40px;
    }

    .coin-button {
        width: 300px;
        height: 300px;
    }

    .button {
        font-size: 18px;
        padding: 20px 10px;
    }

    /*  В  файле  style.css  */
    #phone-only-warning {
        display: none;
        position: fixed; /*  Фиксированное  позиционирование  */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        padding: 20px;
        z-index: 10000; /*  Увеличиваем  z-index  */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*  Показываем  предупреждение  только  на  компьютерах  */
    @media (min-width: 768px) {
        #phone-only-warning {
            display: block;
        }
    }

    /*  Скрываем  предупреждение  на  телефонах  */
    @media (max-width: 768px) {
        #phone-only-warning {
            display: none;
        }
    }
}